<div class="row">
  <div class="col-sm-12 d-flex justify-content-center" style="margin-top: 20px;margin-bottom: 20px;">
    <h1>
      Validador de expresiones regulares con Angular
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 d-flex justify-content-center" style="color: black;">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://repository-images.githubusercontent.com/186091864/e96c1a80-7a27-11e9-8232-2b21d5d861d3" alt="Card image cap">
      <div class="card-body">
        
        <form (ngSubmit)="agregar($event)">
          <!-- Nombre -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" 
                    placeholder="Nombre" 
                    aria-label="Username" 
                    aria-describedby="basic-addon1"
                    [(ngModel)]="nombre"
                    name="nombre"
                    (keyup)="vNombre()">


            <div class="input-group-prepend" *ngIf="valid">
              <span class="input-group-text">
                <img src="https://icons-for-free.com/iconfiles/png/512/correct+mark+success+tick+valid+yes+icon-1320167819078544687.png" style="width: 25px; height: 100%;">
              </span>
            </div>
            <div class="input-group-prepend" *ngIf="!valid">
              <span class="input-group-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Crystal_128_error.svg/1024px-Crystal_128_error.svg.png" style="width: 25px; height: 100%;">
              </span>
            </div>
          </div>


          <!-- Carnet -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" 
                    placeholder="Carnet" 
                    aria-label="Username" 
                    aria-describedby="basic-addon1"
                    [(ngModel)]="carnet"
                    name="carnet"
                    (keyup)="vCarnet()">


            <div class="input-group-prepend" *ngIf="validC">
              <span class="input-group-text">
                <img src="https://icons-for-free.com/iconfiles/png/512/correct+mark+success+tick+valid+yes+icon-1320167819078544687.png" style="width: 25px; height: 100%;">
              </span>
            </div>
            <div class="input-group-prepend" *ngIf="!validC">
              <span class="input-group-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Crystal_128_error.svg/1024px-Crystal_128_error.svg.png" style="width: 25px; height: 100%;">
              </span>
            </div>
          </div>


          <!-- Numero -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" 
                    placeholder="Numero Celular" 
                    aria-label="Username" 
                    aria-describedby="basic-addon1"
                    [(ngModel)]="numero"
                    name="numero"
                    (keyup)="vNumero()">


            <div class="input-group-prepend" *ngIf="validN">
              <span class="input-group-text">
                <img src="https://icons-for-free.com/iconfiles/png/512/correct+mark+success+tick+valid+yes+icon-1320167819078544687.png" style="width: 25px; height: 100%;">
              </span>
            </div>
            <div class="input-group-prepend" *ngIf="!validN">
              <span class="input-group-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Crystal_128_error.svg/1024px-Crystal_128_error.svg.png" style="width: 25px; height: 100%;">
              </span>
            </div>
          </div>

          <!-- Fijo -->
          <div class="input-group mb-3">
            <input type="text" class="form-control" 
                    placeholder="Telefono Fijo" 
                    aria-label="Username" 
                    aria-describedby="basic-addon1"
                    [(ngModel)]="fijo"
                    name="fijo"
                    (keyup)="vFijo()">


            <div class="input-group-prepend" *ngIf="validF">
              <span class="input-group-text">
                <img src="https://icons-for-free.com/iconfiles/png/512/correct+mark+success+tick+valid+yes+icon-1320167819078544687.png" style="width: 25px; height: 100%;">
              </span>
            </div>
            <div class="input-group-prepend" *ngIf="!validF">
              <span class="input-group-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Crystal_128_error.svg/1024px-Crystal_128_error.svg.png" style="width: 25px; height: 100%;">
              </span>
            </div>
          </div>

          <!-- Dirección -->

          <div class="input-group mb-3">
            <input type="text" class="form-control" 
                    placeholder="Dirección" 
                    aria-label="Username" 
                    aria-describedby="basic-addon1"
                    [(ngModel)]="dir"
                    name="dir"
                    (keyup)="vDireccion()">


            <div class="input-group-prepend" *ngIf="validD">
              <span class="input-group-text">
                <img src="https://icons-for-free.com/iconfiles/png/512/correct+mark+success+tick+valid+yes+icon-1320167819078544687.png" style="width: 25px; height: 100%;">
              </span>
            </div>
            <div class="input-group-prepend" *ngIf="!validD">
              <span class="input-group-text">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Crystal_128_error.svg/1024px-Crystal_128_error.svg.png" style="width: 25px; height: 100%;">
              </span>
            </div>
          </div>

        </form>
        
      </div>
    </div>
  </div>
</div>